<h1><center>Plantilla CRISP-DM: "Monopoly Bank Dataset"</center></h1> 
<video src="Designer.mp4" width="100%" height="300" title="Title" autoplay muted loop></video>

### **Equipo: The Shield**

**Integrantes:** 
* Cristian Contreras
* Nicolas Dávila
* Alejandro Ferrera

**Docente:**     CHRISTIAN MANUEL ALVAREZ CARREÑO

| Variable       | Transformación           | Valor    | Descripción                                                   |
|----------------|--------------------------|----------|---------------------------------------------------------------|
| CORRELATIVO    | Ninguna                  | 518050   | Identificador cliente                                        |
| Region         | Ninguna                  | 13       | Región de Residencia                                         |
| Renta          | Ninguna                  | NULL     | Renta del cliente                                            |
| Sexo           | Ninguna                  | M        | Sexo                                                         |
| Subsegmento    | Ninguna                  | 151      | Subsegmento                                                  |
| Edad           | Ninguna                  | 39       | Edad                                                         |
| Adicional      | Ninguna                  | 0        | Indicador de Tenencia de TC adicionales                      |
| Antiguedad     | Ninguna                  | 78       | Antigüedad del cliente (meses)                               |
| CambioPin      | Ninguna                  | NULL     | Indicador del cambio de clave secreta de la tarjeta          |
| Consumo        | Ninguna                  | 0        | Indicador de Crédito de Consumo                              |
| Debito         | Ninguna                  | 1        | Indicador de Tenencia de TD                                  |
| Ctacte         | Ninguna                  | 1        | Indicador de Cuenta Corriente                                |
| Cuentas        | Ninguna                  | 1        | Número de cuentas que tiene el cliente                       |
| Hipotecario    | Ninguna                  | 0        | Indicador de Crédito Hipotecario                            |
| Internauta     | Ninguna                  | 1        | Indicador de cliente Internauta que usa la web Monopoly     |
| Monoproducto   | Ninguna                  | 0        | Indicador de si el cliente es solo poseedor de una TC       |
| TC             | Ninguna                  | 1        | Número de TC que tiene el cliente                           |
| Dualidad       | Ninguna                  | 0        | Indicador de Dualidad (Cliente es dual si tiene 2 o más TC) |
| CUPO_L1        | Ninguna                  | 1800000  | Cupo de la tarjeta crédito para compras nacionales          |
| CUPO_MX        | Ninguna                  | 3750     | Cupo de la tarjeta crédito para compras internacionales     |
| CUPO_L2        | Ninguna                  | 1        | Cupo de la tarjeta crédito para avances en cuotas           |
| Col_T12        | Promedio                 | 0        | Colocación del cliente en TC en el mes X                    |
| ColL1TE_T12    |                          | 0        | Revolving del cliente en TC en el mes X                      |
| EeccInt_T12    | Promedio                 | 0        | Monto internacional exigido en el estado de cuenta en el mes X del cliente |
| EeccNac_T12    | Promedio                 | -12178   | Monto nacional exigido en el estado de cuenta en el mes X del cliente |
| Fac_T12        | Promedio                 | 0        | Monto facturado por el cliente en TC en el mes X            |
| FacAI_T12      | Promedio                 | 0        | Monto facturado en avances internacionales por el cliente en TC en el mes X |
| FacAN_T12      | Promedio                 | 0        | Monto facturado en avances nacionales por el cliente en TC en el mes X |
| FacCCOT_T12    | Promedio                 | 0        | Monto facturado en compras en cuotas con tasa por el cliente en TC en el mes X |
| FacCCPC_T12    | Promedio                 | 0        | Monto facturado en compras en cuotas precio contado por el cliente en TC en el mes X |
| FacCI_T12      | Promedio                 | 0        | Monto facturado en compras internacionales por el cliente en TC en el mes X |
| FacCN_T12      | Promedio                 | 0        | Monto facturado en compras nacionales por el cliente en TC en el mes X |
| FacCOL_T12     | Promedio                 | 0        | Monto facturado en avances en cuotas por el cliente en TC en el mes X |
| FacDebAtm_T12  | Promedio                 | 800000   | Monto facturado en avances por el cliente en TD en el mes X  |
| ...            | ...                      | ...      | ...                                                           |
| Txs_T12        | Suma                     | 0        | Número de transacciones realizados por el cliente en TC en el mes X |
| TxsAI_T12      | Suma                     | 0        | Número de transacciones en avances internacionales realizados por el cliente en TC en el mes X |
| TxsAN_T12      | Suma                     | 0        | Número de transacciones en avances nacionales realizados por el cliente en TC en el mes X |
| TxsCCOT_T12    | Suma                     | 0        | Número de transacciones en compras en cuotas con tasa realizados por el cliente en TC en el mes X |
| TxsCCPC_T12    | Suma                     | 0        | Número de transacciones en compras en cuotas precio contado realizados por el cliente en TC en el mes X |
| TxsCI_T12      | Suma                     | 0        | Número de transacciones en compras internacionales realizados por el cliente en TC en el mes X |
| TxsCN_T12      | Suma                     | 0        | Número de transacciones en compras nacionales realizados por el cliente en TC en el mes X |
| TxsCOL_T12     | Suma                     | 0        | Número de transacciones en avances en cuotas por el cliente en TC en el mes X |
| TxsDebAtm_T12  | Suma                     | 5        | Número de transacciones en avances realizados por el cliente en TD en el mes X |
| ...            | ...                      | ...      | ...                                                           |
| UsoLI_T12      | Promedio                 | 0        | Monto de deuda en la línea de compras internacionales en la TC en el mes X |

## Fase 1: Business Understanding

### Carga de dataset y dependencias

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#Carga de dataset

df = pd.read_csv('Base_clientes_Monopoly.csv', sep=';', low_memory=False)
df.head()

,Id,Subsegmento,Sexo,Region,Edad,Renta,Antiguedad,Internauta,Adicional,Dualidad,...,ColMx_T01,PagoNac_T01,PagoInt_T01,EeccNac_T01,EeccInt_T01,UsoL1_T01,UsoL2_T01,UsoLI_T01,IndRev_T01,target
0,1,160,M,13.0,43,NaN,130,1,1,0,...,0,33000,0,1099866,0,1099866,15080,0,R,0
1,2,160,H,13.0,46,143640,69,1,0,0,...,0,300000,0,214592,0,214592,83596,0,R,0
2,3,170,H,13.0,45,929106,24,1,1,0,...,0,216676,0,0,0,7400,0,0,T,0
3,4,151,H,13.0,46,172447,134,0,1,0,...,0,60000,0,272762,0,272762,10591,0,R,0
4,5,170,H,13.0,46,805250,116,0,1,1,...,0,272925,0,249562,0,75339,377782,0,R,0

## Fase 2: Data Understanding

In [ ]:
# Insertar cuantos bloques de código consideren necesarios

# Se recomienda obtener estadísticos descriptivos para apoyar hipótesis inferenciales. 
# Reconocer la naturaleza de los datos y como tratarlos en etapas posteriores y dar ideas de como se podría transformar.
# Identificar MissingValues, outliers, medidas de posición, medidas de dispersión etc.

## Fase 3: Data Preparation

In [ ]:
# Insertar cuantos bloques de código consideren necesarios

# Se recomienda considerar todas las transformaciones necesarias para obtener la data lo más limpia posible.
# Realizar tratamiento a todos los datos que consideren necesarios.

## Fase 4: Modeling

### Regresión

In [ ]:
# Insertar cuantos bloques de código consideren necesarios

# Realizar tarea de regresión de datos orientado al caso entregado

### Clasificación

In [ ]:
# Insertar cuantos bloques de código consideren necesarios

# Realizar tarea de clasificación de datos orientado al caso entregado

## Fase 5: Evaluation

In [ ]:
# Insertar cuantos bloques de código consideren necesarios

# Evaluar con las métricas que corresponda los mejores modelos, explicar cual es mejor para cada tarea y por qué

## Fase 5: Deployment

In [ ]:
# Insertar cuantos bloques de código consideren necesarios

# Realizar despliegue del modelo